<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120201129306-41vue2d0ianfin8perrnkfm991e8pjtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120201129306-41vue2d0ianfin8perrnkfm991e8pjtv</string>
	<key>API_KEY</key>
	<string>AIzaSyAguh7HFzZSZRduugbsMCx1Iu45L3W_wbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>120201129306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuv.TUV</string>
	<key>PROJECT_ID</key>
	<string>t-u-v-e7015</string>
	<key>STORAGE_BUCKET</key>
	<string>t-u-v-e7015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120201129306:ios:9708faef52d6b01c4c5763</string>
</dict>
</plist>